name: build conda packages

on:
  workflow_call:

jobs:
  build:
    name: Build conda
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v6

      - name: Install rattler-build
        uses: jaxxstorm/action-install-gh-release@v2.1.0
        with:
          repo: prefix-dev/rattler-build
          tag: v0.41.0
        env:
          GITHUB_TOKEN: "${{ github.token }}"

      - run: |
          rattler-build build \
            --wrap-log-lines=false \
            --log-style=plain \
            --skip-existing=all \
            --channel=conda-forge \
            --channel=https://repo.prefix.dev/pypi-mirrors \
            --output-dir=./output \
            --verbose \
            --recipe-dir=packages
        shell: bash

      - run: ls ./output/

      - uses: actions/upload-artifact@v5
        with:
          name: "conda-noarch"
          path: ./output/noarch/*.conda
          if-no-files-found: ignore
