name: auto update

on:
  push:
    branches:
      - "master"

  schedule:
    - cron: "16 7 * * *"

concurrency:
  group: "${{ github.workflow }}-${{ github.ref }}"
  cancel-in-progress: true

jobs:
  update:
    runs-on: "ubuntu-24.04"
    permissions:
      contents: write
      issues: write
      pull-requests: write
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-python@v6
        with:
          python-version-file: "pyproject.toml"
      - name: Install the latest version of uv
        uses: astral-sh/setup-uv@v7
        with:
          activate-environment: true

      - run: uv sync --locked

      - run: python scripts/update.py
      - run: python scripts/render.py
      - run: dprint fmt

      - name: Create Pull Request
        uses: peter-evans/create-pull-request@v8
        with:
          branch: ci/meson-auto-update
          title: "build: update packages"
          token: "${{ github.token }}"
          base: "master"

      - name: Notify failed build
        uses: jayqi/failed-build-issue-action@v1
        if: failure()
        with:
          github-token: ${{ github.token }}
          always-create-new-issue: false
          label-name: ci
